header {background-color: lightgreen;}
nav {background-color: lightblue;}
main {background-color: lightgreen;}
article {background-color: lightblue}
aside {background-color: lightgreen}
div {background-color: lightblue}
footer {background-color: lightgreen}

#anderefarbe {background-color: lightblue;}
#andere {background-color: lightgreen;}
#nochandere {background-color: lightblue;}