body {background-color: linen;}
table {background-color: aqua;}
ul {background-color: chocolate;}

#item {background-color: purple;}

.yellow {background-color: blue;}

.realyellow {background-color: yellow;}